body{background:linear-gradient(to left,skyblue,white);}

.btn{
    background-color: red;
    border-radius:10px;
   
}

.btn a {
    text-decoration:none;
    color:white;
}

.btn:hover{
    background-color:#f26666;
}